<!DOCTYPE html>
<html>
    <head>
      <link href='http://fonts.googleapis.com/css?family=Press+Start+2P|Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
      <%= stylesheet_link_tag    "application", :media => "all" %>
      <%= favicon_link_tag %>
      <title>AppNeta: Burndown before you burn out</title>
      <%= analytics_init if Rails.env.production? %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
            <a href="/" title="start burning down">
                <img src="/assets/burndown_logo.png" alt="burndown before you burn out" width="225" height="180" />
            </a>
            <div class="main">
                <h1>Burndown</h1>
                <h2>Burndown before you burn out.</h2>
            </div>
            <div id="user_nav">
                <% if current_user %>
                <div class="sign_out">
                    <img src=<%= current_user.image_url %> />
                    <p>
                        Signed in as <%= current_user.name %>!
                        <%= link_to "Sign out", signout_path %>
                    </p>
                </div>
                <% else %>
                <div class="sign_in">
                    <label>Sign in with GitHub to Burndown:</label>
                    <ul>
                        <li class="octocat_private"><%= link_to raw("<span>GitHub Private</span>public &<br>private repos"), "/auth/github?scope=repo" %></li>
                        <li class="octocat_public"><%= link_to raw("<span>GitHub Public</span>public repos <br>(read only)"), "/auth/github" %></li>
                    </ul>
                </div>
                <% end %>
            </div>
        </header>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, id: "flash_#{name}" %>
        <% end %>
        <%= yield %>
        <footer>
            <span class="logo burndown burndown_name">Burndown</span>
            &nbsp;is an open source project from&nbsp;
            <a href="http://dev.appneta.com" title="AppNeta design and development" class="logo appneta">
                design &amp; development
            </a>
        </footer>
        <a href="https://github.com/appneta/burndown" class="forkme"><img src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub"></a>
    <%= jquery_include_tag :google %>
    <%= javascript_include_tag 'application' %>
    </body>
</html>
